<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glemt adgangskode</title>
</head>
<body>
    <h1>Glemt din adgangskode?</h1>
    <p>
        For at nulstille din adgangskode,
        <!-- <a href="https://washworld-client.vercel.app/reset-password/{{ user_reset_password_key }}">
            Nulstil adgangskode
        </a> -->
        <a href="http://localhost:3000/reset-password/{{user_reset_password_key}}">
        klik her
        </a>
    </p>
</body>
</html>